#extensions

*.hmap
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xcbkptlist
*.xccheckout
*.xcuserstate

#directories

**/.build/*
**/.swiftpm/*
/Templates

#other

.DS_Store
.idea/
Breakpoints_v2.xcbkptlist
DerivedData
